.title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff0000;
}

.p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h4 {
    margin: 5px 0 0 0;
}